h1 {
    color:orange;
    background-color: aqua;
    height: 200px;
    width: 500px;
}

p {
    color:green;
    background-color: gray;
    height: 200px;
    width: 500px;
}

.fr {
    color: green;
    background-color: azure;
}

#one {
    color: blueviolet;
}